<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>FOXムービー</string>
		<key>thumb</key>
		<string>fox</string>
		<key>detail</key>
		<string>ハリウッドメジャースタジオFOXがお贈りするハイビジョンの映画チャンネル。</string>
	</dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>ジブリチャンネル</string>
		<key>thumb</key>
		<string>ziburi</string>
		<key>detail</key>
		<string>「ジブリのあれこれをムービーでお届け！」のコンセプトはそのままに、パワーアップした「ジブリチャンネル」を楽しむことができます。</string>
	</dict>
	<key>2</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>ダンスチャンネル</string>
		<key>thumb</key>
		<string>dance</string>
		<key>detail</key>
		<string>ストリート・キッズ・中学・高校ダンス部・チア・フラ・K-POP！ココロ踊る！日本初ダンス専門テレビ局</string>
	</dict>
	<key>3</key>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>日本映画専門チャンネル</string>
		<key>thumb</key>
		<string>nihoneiga</string>
		<key>detail</key>
		<string>映画がもっと好きになる。最新作から不朽の名作まで日本映画の楽しさが全て勢揃い！</string>
	</dict>
	<key>4</key>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>ANNニュース</string>
		<key>thumb</key>
		<string>annnews</string>
		<key>detail</key>
		<string>ANNが送る、高画質、わかりやすいニュースチャンネルです。隙間時間にどうぞ。</string>
	</dict>
	<key>5</key>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>ANIMAX</string>
		<key>thumb</key>
		<string>animax</string>
		<key>detail</key>
		<string>あらゆるジャンルのアニメを24時間ノンストップで放送！アニメ見るならアニマックス。</string>
	</dict>
	<key>6</key>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>アキバチャンネル</string>
		<key>thumb</key>
		<string>akiba</string>
		<key>detail</key>
		<string>最新アキバトレンドを、いち早くお届け！メイド喫茶から最新家電まで、幅広いラインナップをどうぞ！</string>
	</dict>
</dict>
</plist>
